.App {
  text-align: center;
}

#header-container {
  font-family: 'courier';
}

#content-main {
  padding: 20px;
}

.card-link {
  color: #000;
}

.card-link:hover {
  box-shadow: inset 2px 4px 4px #aaa;
}

.media-img-sm {
  max-height: 50px;
  margin: 10px
}

.dev-logo-container {
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

